@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
:root {
   --notrevert: #69AF07;
   --notrebrown: #483B33;
   --notreMarronClair: #9F8447;
   --notreLightBackground: #F6F3EC;
}

ul a {
   color: var(--notreMarronClair)!important;
}

ul a:hover {
   color: var(--notrevert)!important;
   transform: scale(1.1);
}

nav{
   margin-bottom: 1rem;
}

#logoHeader_Samm {
   width: 5vw;
   height: 8vh;
}

.LogoForm_Samm {
   text-align: center;
}

h1:hover {
   transform: scale(1.1);
}

h1 {
   font-family: 'Ruda', sans-serif;
   text-align: center;
   color: var(--notrevert);
}

* {
   font-family: 'Ruda', sans-serif;
}

/* 
.btn-vert-creation_Samm:hover {
   background-color: var(--notrevert)!important;
} */

.LogoResaux_Samm {
   width: 45px;
   height: 45px;
}

#imgLogin{
   width: 30vh;
   height: auto;
}

footer {
   padding-top: 1rem;
}

a {
   text-decoration: none;
}

#cookiealert{
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   height: 80px;
   padding: 10px;
}

.form-SAMM{
   width : 50vw; 
   height: auto;
   margin: auto;
} 


.btn-vert-connexion_Samm {
   background-color: var(--notrevert);
   color: var(--notreLightBackground);
}
.btn-vert-connexion_Samm:hover{
   background-color: var(--notrevert);
   color: var(--notrebrown);
   transform: scale(1.1);
}
