{% extends 'base.html.twig' %}

{% block title %}Modifier Annonce{% endblock %}

{% block body %}
    <h1>Modifier Annonce</h1>

    {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info " href="javascript:history.back()">Retour</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
