{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}

    <h1>Créer une nouvelle annonce</h1>

    {{ include('annonce/_form.html.twig') }}
    
    <a class="btn btn-info " href="javascript:history.back()">Retour</a>

{% endblock %}

{# {% block javascripts %}
    <script src="https://cdn.tiny.cloud/1/mmtelnjo7hq8l63uso5nqk221f0r1rumvtukus48ibaqs46v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea', name:'annonce_description'});</script>
{% endblock %} #}
