{% extends 'base.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('avis/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info " href="javascript:history.back()">retour</a>


    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
