{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <h1>Liste des commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Text</th>
                <th>DatePublication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.text }}</td>
                <td>{{ avi.datePublication ? avi.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('avis_show', {'id': avi.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('avis_edit', {'id': avi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
