{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Faire un commentaire</h1>

    {# {{ include('avis/_form.html.twig') }} #}
    <section class="form-SAMM">
        <a class="btn btn-outline-info " href="javascript:history.back()">Retour</a>
    
        {{form(form)}}
    </section>

    {# <a href="{{ path('avis_index') }}">back to list</a> #}
{% endblock %}
