{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaire</h1>

    

    <a class="btn btn-outline-info " href="javascript:history.back()">Retour</a>

    <div class="form-SAMM">
        {{form(form)}}
    </div>

{% endblock %}

