{% extends 'base.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ include('avis/_form.html.twig') }}

    <a class="btn btn-info " href="javascript:history.back()">retour</a>

{% endblock %}

