{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h1>A propos de Tous-au-jardin.com</h1>
<div class="container">
<div class="row col-6">
<p>Tous-au-jardin.com met en relation :
<ul>
    <li>  ceux qui possèdent un terrain ou une partie jardin inutilisé et qui n'ont pas le temps ou la connaissance pour créer un potager</li>
    <li>  avec ceux qui n'ont pas de jardin mais souhaiteraient tout de même cultiver un potager</li>
</ul>
<br>
<br>
<br>
<p>En échange le jardinier offre une partie de la récolte au propriétaire (en général autour de 20%) ou/et lui apprend la façon de conduire un potager.</p>

</div>
<div >
    <img src="" alt="potger">

</div>

<h2>Se faire plaisir et créer du lien social</h2>
<p>Cultiver un morceau de terre permet, très simplement, de s'extraire de ses préoccupations quotidiennes pour renouer avec le calme de la nature et le rythme des saisons.
C'est aussi le plaisir de manger des produits frais au goût incomparable et souvent l'occasion de partager un moment de détente en famille, d'échanger avec les "anciens" qui seront heureux de transmettre leur savoir ou de faire participer les enfants</p>

<h2>Faire des économies et prendre soin de sa santé</h2>
<p>S'occuper d'un potager, c'est aussi nourrir sa famille : on considère généralement un moyenne de 50 m2 de potager sont suffisants pour nourrir une personne. Une parcelle de 200 m² (10 m X 20 m) permettra donc de nourrir régulièrement de façon saine une famille de 4 personnes.
</p>
<h2>Vers l'autosuffisance locale</h2>
<p>En mangeant des fruits et légumes de saisons, produits localement par vos soins, vous proposez une alternative à l'agriculture intensive lointaine au bilan carbone désastreux. Cultiver son jardin est aujourd’hui un acte politique, disait Pierre Rabhi...A son modeste niveau le projet participe à la quête d'indépendance et d'autonomie de chacun. Il s'agit aussi d'inciter chacun à ne pas laisser mourir les anciens potagers ou vergers.

</p>
</div>
{% endblock %}
