<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Partage de terrain entre particulier. Vous chercher un espace pour jardiner, 
		installer des ruches, etc ?	Vous avez un terrain inutilisé ?">
		<link rel="shortcut icon" href="{{asset('img/favicon.ico')}}" type="image/x-icon">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{asset("css/style.css")}}">
		
		{% block stylesheets %}{% endblock %}
		<title>	{% block title %}Welcome!{% endblock %}	</title>
	</head>

	<body>
		
		{% include "partials/_navbar.html.twig" %}

		{% block body %}{% endblock %}

		{% include "partials/_footer.html.twig" %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

		{% block javascripts %}{% endblock %}

	</body>
</html>
