{% extends 'base.html.twig' %}

{% block title %}Modifier conseil{% endblock %}

{% block body %}
    <h1>Modifier conseil</h1>

        {{ include('conseil/_form.html.twig', {'button_label': 'Update'}) }}
    
        <div class="d-flex ">
            <a class="btn btn-info " href="javascript:history.back()">Retour</a>

        
            {{ include('conseil/_delete_form.html.twig') }}
        </div>
{% endblock %}
