{% extends 'base.html.twig' %}

{% block title %}nouveau conseil{% endblock %}

{% block body %}
    <h1>Créer un nouveau conseil</h1>

    {{ include('conseil/_form.html.twig') }}

    <a class="btn btn-info " href="javascript:history.back()">Retour</a>

{% endblock %}
