{% extends 'base.html.twig' %}

{% block title %}New Conseil{% endblock %}

{% block body %}
    <h1>Create new Conseil</h1>

    {{ include('conseil/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('conseil_index') }}" class="btn btn-info">back to list</a>
{% endblock %}
