{% extends "base.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block body %}

<main class="error">
    <h1 class="error_code">403</h1>
    <p>vous n'avez pas accès à cette page</p>
</main>

{% endblock %}