{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<h1>Page non trouvée</h1>
<h2>Erreur : {{ status_code }}</h2>
<p>La page rechercher n'a pas été trouvée</p>

{% endblock %}