{% extends "base.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block body %}

<main class="error">
    <h1 class="error_code">Erreur : {{{ status_code }}}</h1>
    <p>Message :</p>
    <p>{{ status_text }}</p>
</main>
{% endblock %}